{
  "presets": [
    "env",
    "react",
    "stage-0",
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-classes",
    [
      "babel-plugin-webpack-loaders",
      {
        "config": "./config/webpack.server.js",
        "verbose": false
      }
    ]
  ],
  "ignore": ["src/client/"]
}
