@import '../../../styles/variables';

.form-group {
  margin: 20px 0;

  &__input {
    padding: 4px 0;
    background: transparent;
    color: $font-color;
    border: none;
    transition: all .3s;
    border-bottom: 2px solid transparentize($font-color, 0.2);

    &:focus {
      outline: none;
      border-bottom: 2px solid $font-color;

      &::placeholder {
        color: $font-color;
      }
    }

    &::placeholder {
      color: transparentize($font-color, 0.2);
    }
  }
}
