@import 'normalize';
@import 'mixins';
@import 'variables';

@include font-face('Proxima-Nova', '../assets/fonts/proxima-nova/ProximaNova-regular', normal, normal);

body {
  @include linear-gradient($bg-green, $bg-dark);
  color: $font-color;
  min-height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: 'Proxima-Nova', Georgia, Arial;
}

.page {
  padding: 12px 32px;
}

.btn {
  display: block;
  margin: 12px 0;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  background: transparent;
  color: $font-color;
  border: 2px solid $font-color;
  border-radius: 4px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;

  &:hover {
    transition: all 150ms linear;
    opacity: .85;
  }
}
